// @*************************************************************************@
// @ @author Mansur Altamirov (Mansur_TL)                                    @
// @ @author_url 1: https://www.instagram.com/mansur_tl                      @
// @ @author_url 2: http://codecanyon.net/user/mansur_tl                     @
// @ @author_email: highexpresstore@gmail.com                                @
// @*************************************************************************@
// @ HighExpress - The Ultimate Modern Marketplace Platform                  @
// @ Copyright (c) 05.07.19 HighExpress. All rights reserved.                @
// @*************************************************************************@

$black:#192a32;
$black2: #2d2f43;
$main:#1fb4ef;
$link:#003569;
$border:#e6e6e6;
$pl_holder:#72777c;
$red:#ff7676;
$red2:#f6546a;
$green:#35c85f;
$btn_shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;

html {
	scroll-behavior: smooth;
}

body{
	min-width: 340px !important;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header{
	width: 100%;
	display: block;
	background: transparent !important;
	position: static !important;


	div.header-top-line {
		position: relative;
		z-index: 10;
		background: #fff;
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06);

		div.header-top-line-wrapper{
			nav.nav-bar-top-line{
				background: #fff !important;
				padding:  0 10px;
				display: flex;
				width: 100%;
				height: 55px;

				div.logo-block{
					.nav-item.logo{
						a{
							height: 30px;
							display: inline-block;
							svg,img{
								height: 100%;
								object-fit: cover;
							}
						}
					}
				}

				div.mobile-navbar-toggle{
					display: none !important;
					margin-right: 5px;
					a{
						display: inline-block;
						width: 30px;
						height: 30px;
						position: relative;

						svg{
							width: 20px;
							height: 20px;
							position: absolute;
							margin: auto;
							left: 0;
							top: 0;
							bottom: 0;
							right: 0;
							fill: #e0e0e0;
						}
					}
				}

				div.search-form-wrapper{
					width: 25rem;
					margin-left: 35px;
					form.search-form{
						div.search-input{
							position: relative;
							input {
								width: 100%;
							    padding: 6px 10px 8px 40px;
							    background: #f5f5f5;
							    border: none;
							    color: #333333;
							    display: inline-block;
							    vertical-align: middle;
							    zoom: 1;
							    font: inherit;
							    margin: 0;
							    overflow: visible;
							    -webkit-transition: 0.2s border-color ease;
							    transition: 0.2s border-color ease;
							    height: 32px;
							    border-radius:  10em;
							    outline: 0;
							    &::placeholder{
							    	font-size: 12px;
							    	line-height: 22px;
									color: $pl_holder;
									font-weight: 100;
							    }

							    &:focus{
							    	box-shadow: none !important;
							    	outline: none !important;
							    	border: 2px solid $red;
							    	&::placeholder{
							    		color: $red;
							    	}

							    	&~button.search{
							    		svg{
							    			fill: $red;
							    		}
							    	}
							    }
							}

							button.search{
								width: 55px;
								position: absolute;
								left: 0px;
								top: 0px;
								height: 100%;
								background: transparent;
								line-height:0px;
								border: none;
								outline: 0;
								svg{
									width: 20px;
									height: 20px;
									position: absolute;
									left: 0;
									top: 0;
									bottom: 0;
									right: 0;
									margin: auto;
									fill: $pl_holder;
								}
							}

							button.close-bar{
								display: none;
							}
						}

						div.dropdown{
							display: none;
							visibility: hidden;
							line-height: 0;
							opacity: 0;

							&.show{
								display: block;
								visibility: visible;
								opacity: 1;
								width: 100%;
								div.dropdown-menu{
									display: none;
									visibility: hidden;
									opacity: 0;

									&.show{
										display: block;
										visibility: visible;
										opacity: 1;
										padding: 15px;
										border: none;
									    box-shadow: 0 0.2222rem 0.4444rem 0 rgba(0, 0, 0, 0.12);
									    background: #fff;
									    border-radius: 5px;
									    top: 5px;
									    width: 100%; 
									    max-height: 350px;
									    overflow-y: scroll;
									    overflow-x: hidden;

										a{
											line-height: 22px;
											color: $black;
											font-size: 13px;
											display: block;
											white-space: nowrap;
											text-overflow: '';
											max-width: 100%;
											overflow: hidden;
											margin-bottom: 5px;

											&:last-child{
												margin-bottom: 0px;
											}
										}

										span.no-result{
											text-align: center;
											font-size: 13px;
											color: #9697a1;
											line-height: 13px;
											display: block;
											width: 100%;
										}

										&::-webkit-scrollbar-track{
											background-color: #fff;
										}

										&::-webkit-scrollbar{
											width: 8px;
											background-color: #fff;

										}

										&::-webkit-scrollbar-thumb{
											background-color: #d1d1d1;
											border: 2px solid #d1d1d1;
											border-radius: 2px;
										}
									}
								}
							}
						}
					}

					&.toggleable{
						position: fixed;
						width: 100% !important;
						height: 45px;
						z-index: 100;
						background: #fff;
						left: 0;
						top: 0;
						right: 0;
						display: block !important;
						margin-left: 0px;
						div.search-input{
							padding: 12px 50px 11px 20px;
							

							button.search{
								left: 15px !important;
								svg{
									width: 15px !important;
									height: 15px !important;
								}
							}

							button.close-bar{
								width: 55px;
								position: absolute;
								right: 0px;
								top: 0px;
								height: 100%;
								font-weight: 400;
								background: transparent;
								line-height: 20px;
								border: none;
								display: block !important;
								outline: 0;

								svg{
									width: 20px;
									height: 20px;
									position: absolute;
									left: 0;
									top: 0;
									bottom: 0;
									right: 0;
									margin: auto;
									fill: $red;
								}
							}
						}
					}
				}

				div.right-drop-down{
					margin-left: auto;
					ul.navbar-nav.right-side{
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;

						li.profile-nav-dd{
							position: relative;
							margin-left: 15px;

							a.dropdown-toggle{
								display: block;
								padding: 0px;
								&:after{
									display: none;
								}

								img{
									width: 30px;
									height: 30px;
									border-radius: 10em;
								}

								span.user-name{
									display: inline-block;
									font-size: 14px;
									line-height: 34px;
									font-weight: 500;
									color: $black2;
									margin-left: 5px;
								}

								&:hover,&:focus,&:active{
									img{
										border:2px solid $red2;
									}
									span{
										color: $red;
									}
								}
							}

							div.dropdown-menu{
								position: absolute;
								left: unset;
								right: 10px;
								width: 200px;
								top:  50px;
								border: none;
								box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);
								background: #fff;
								border-radius: 5px;
								padding: 10px;
								a.dropdown-item{
									display: block;
									width: 100%;
									padding: 8px 15px;
									text-decoration: none;
									transition: all 0.30s ease-in-out;
									line-height: 0px;
									span{
										font-size: 13px;
										line-height: 16px;
										color: $black;
										font-weight: normal;
									}

									&:hover,&:active{
										background: #fff;
										span{
											color: $red;
										}
									}
								}
								hr{
									padding: 0;
									margin: 5px 0;
								}
							}
						}

						li.user-language-dd{
							position: relative;
							margin-left: 15px;

							a.dropdown-toggle{
								position: relative;
								width: 30px;
								height: 30px;
								color: $pl_holder;
								border-radius: 10em;
								margin: 0px;
		    					display: inline-block;
		    					vertical-align: middle;
								&:after{
									display: none;
								}

								svg{
									width: 20px;
									height: 20px;
									position: absolute;
									margin: auto;
									left: 0;
									top: 0;
									bottom: 0;
									right: 0;
									fill: #e0e0e0;
								}

								&:hover,&:focus,&:active{
									svg{
										fill: $red2;
									}
								}
							}

							div.dropdown-menu{
								left: unset;
								right: 10px;
								width: 200px;
								top:  50px;
								border: none;
								box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);
								background: #fff;
								border-radius: 5px;
								position: absolute;
								padding: 10px;
								a.dropdown-item{
									display: flex;
									width: 100%;
									padding: 8px 15px;
									text-decoration: none;
									transition: all 0.30s ease-in-out;
									line-height: 0px;
									flex-direction: row;
									flex-wrap: nowrap;
									justify-content: space-between;
									align-items: center;

									span{
										font-size: 13px;
										line-height: 16px;
										color: $black;
										font-weight: normal;

										&.selected{
											font-weight: 700;
											color: $red;
										}
									}

									span.lang-banner{
										svg{
											width: 25px;
											height: 15px;
										}
									}

									&:hover,&:active{
										background: #fff;
										span{
											color: $red;
										}
									}
								}
							}
						}

						li.user-notifications-dd{
							position: relative;
							margin-left: 15px;
		
							a.dropdown-toggle{
								cursor: pointer;
								position: relative;
								width: 30px;
								height: 30px;
								color: $pl_holder;
								border-radius: 10em;
								margin: 0px;
		    					display: inline-block;
		    					vertical-align: middle;
								&:after{
									display: none;
								}

								span.new-messages{
									position: absolute;
									top: -5px;
									right: -10px;
									background: $red;
									color: #fff;
									text-align: center;
									padding: 4px;
									border-radius: 10em;
									z-index: 10;
									background-clip: padding-box;
								    display: inline-block;
								    font-size: 10px;
								    -webkit-font-smoothing: subpixel-antialiased;
								    line-height: 1.3;
								    min-height: 13px;
								    min-width: 20px;
								    &:empty{
								    	display: none;
								    	visibility: hidden;
								    	opacity: 0;
								    }
								}

								svg{
									width: 20px;
									height: 20px;
									position: absolute;
									margin: auto;
									left: 0;
									top: 0;
									bottom: 0;
									right: 0;
									fill: #e0e0e0;
									transition: all 0.30s ease-in-out;
								}

								&:hover,&:active,&:focus{
									svg{
										fill:$red;
									}
								}
							}

							div.dropdown-menu{
								padding: 0px;
								left: unset;
								right: 10px;
								width: 335px;
								position: absolute;
								top:  50px;
								border: none;
								border-radius: 5px;
								overflow: hidden;
								background: #fff;
								box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);

								div.header{
									display: flex;
									flex-direction: row;
									flex-wrap: nowrap;
									background: $red;
									color: $black;
									padding: 15px;
									border-bottom: 1px solid $border;
									align-items: flex-start;
									span{
										&.notifs{
											font-weight: 600;
											font-size: 14px;
											line-height: 24px;
											color: #fff;
											margin-left: 10px;
										}
									}
									svg{
										fill: #fff;
										width: 20px;
										height: 20px;
									}
								}

								.body{
									width: 100%;
									overflow: hidden;
									display: block;
									ul.notifs-list{
										list-style-type: none;
										padding: 0;
										margin: 0;
										width: 100%;
										max-height: 300px;
										overflow-x: hidden;
										overflow-y: scroll;
										li.notifs-list-item{
											width: 100%;
											overflow: hidden;
											padding: 10px;
											border-bottom: 1px solid $border;
											&:last-child{
												border-bottom: none;
											}

											div.flex-cont{
												display: flex;
												flex-direction: row;
												flex-wrap: nowrap;
												div.left-part{
													width: 40px;
													height: 40px;
													min-width: 40px;
													div.avatar{
														width: 40px;
														height: 40px;
														img{
															width: 100%;
															height: 100%;
															object-fit: cover;
															border-radius: 10em;
														}
													}
												}

												div.right-part{
													flex: 1;
													padding: 0px 10px;
													p{
														width: 100%;
														padding: 0;
														margin: 0;
														line-height: 0px;
														b{
															font-size: 13px;
															line-height: 15px;
															color: $black;

															span.verified{
																svg{
																	fill: $main;
																	vertical-align: middle;
																	width: 12px;
																	height: 12px;
																	path{
																		fill: $main;
																	}
																}
															}
														}

														span{
															font-size: 12px;
															line-height: 15px;
															color: $black2;
														}
													}
													time{
														font-size: 12px;
														line-height: 16px;
														color: #9697a1;
													}

													a{
														text-decoration: none;
														line-height: 0px;
														padding: 0;
														margin: 0;
													}
												}
											}

											&.no-notifications{
												div.flex-cont{
													align-items: center;
													justify-content: center;
													flex-direction: column;
													padding: 20px 0px;

													div.icon{
														width: 30px;
														height: 30px;
														svg{
															width: 100%;
															height: 100%;
															fill:$pl_holder;
														}
													}

													p{
														font-size: 14px;
														color: $pl_holder;
														line-height: 25px;
														padding: 0;
														margin: 0;
													}
												}
											}
										}

										&::-webkit-scrollbar-track{
											background-color: #fff;
										}

										&::-webkit-scrollbar{
											width: 5px;
											background-color: #fff;
										}

										&::-webkit-scrollbar-thumb{
											background-color: #d1d1d1;
											border: 2px solid #d1d1d1;
										}
									}

									.notifs-preloader{
										width: 100%;
										overflow: hidden;
										display: flex;
										flex-direction: column;
										flex-wrap: nowrap;
										align-items: center;
										justify-content: center;
										padding: 5px 0;

										&.hidden{
											display: none;
											opacity: 0;
											visibility: hidden;
										}
										div.loader{
											width: 30px;
											height: 30px;
											svg{
												width: 100%;
												height: 100%;
											}
										}
									}
								}

								.footer{
									width: 100%;
									overflow: hidden;
									text-align: center;
									border-top: 1px solid $border;
									p{
										padding: 0;
										margin: 0;
										a{
											color: $red;
											font-size: 14px;
											line-height: 40px;
										}
									}

									&.hidden{
										display: none;
										visibility: hidden;
										opacity: 0;
									}
								}

								a.dropdown-item{
									svg{
										vertical-align: middle;
										path{
											fill: #969696;
										}
									}

									span{
										font-size: 14px;
										line-height: 20px;
										margin-left: 5px;
										color: $black;
									}
								}
							}
						}

						li.user-messages{
							position: relative;
							margin-left: 15px;
		
							a{
								cursor: pointer;
								position: relative;
								width: 30px;
								height: 30px;
								background: #ff;
								color: $pl_holder;
								
								margin: 0px;
		    					display: inline-block;
		    					vertical-align: middle;
		    					
								&:after{
									display: none;
								}

								span.new-messages{
									position: absolute;
									top: -5px;
									right: -10px;
									background: $red;
									color: #fff;
									text-align: center;
									padding: 4px;
									border-radius: 10em;
									z-index: 10;
									background-clip: padding-box;
								    display: inline-block;
								    font-size: 10px;
								    -webkit-font-smoothing: subpixel-antialiased;
								    line-height: 1.3;
								    min-height: 13px;
								    min-width: 20px;
								    &:empty{
								    	display: none;
								    	visibility: hidden;
								    	opacity: 0;
								    }
								}

								svg{
									width: 20px;
									height: 20px;
									position: absolute;
									transition: all 0.30s ease-in-out;
									margin: auto;
									left: 0;
									top: 0;
									bottom: 0;
									right: 0;
									fill: #e0e0e0;
								}

								&:hover,&:active,&:focus{
									svg{
										fill:$red;
									}
								}
							}
						}

						li.user-wishlist{
							position: relative;
							margin-left: 15px;
		
							a{
								cursor: pointer;
								position: relative;
								width: 30px;
								height: 30px;
								background: #fff;
								color: $pl_holder;
								
								margin: 0px;
		    					display: inline-block;
		    					vertical-align: middle;
		    					
								&:after{
									display: none;
								}

								span.new-messages{
									position: absolute;
									top: -5px;
									right: -10px;
									background: $red;
									color: #fff;
									text-align: center;
									padding: 4px;
									border-radius: 10em;
									z-index: 10;
									background-clip: padding-box;
								    display: inline-block;
								    font-size: 10px;
								    -webkit-font-smoothing: subpixel-antialiased;
								    line-height: 1.3;
								    min-height: 13px;
								    min-width: 20px;
								    &:empty{
								    	display: none;
								    	visibility: hidden;
								    	opacity: 0;
								    }
								}

								svg{
									width: 20px;
									height: 20px;
									position: absolute;
									margin: auto;
									left: 0;
									top: 0;
									bottom: 0;
									right: 0;
									fill: #e0e0e0;
									transition: all 0.30s ease-in-out;
								}

								&:hover,&:active,&:focus{
									svg{
										fill:$red;
									}
								}
							}
						}

						li.search-bar{
							position: relative;
							margin-left: 15px;
							display: none;
		
							a{
								cursor: pointer;
								position: relative;
								width: 30px;
								height: 30px;
								background: #fff;
								color: $pl_holder;

								display: none;
								
								margin: 0px;
		    					display: inline-block;
		    					vertical-align: middle;
		    					
								&:after{
									display: none;
								}

								svg{
									width: 20px;
									height: 20px;
									position: absolute;
									margin: auto;
									left: 0;
									top: 0;
									bottom: 0;
									right: 0;
									fill: #e0e0e0;
									transition: all 0.30s ease-in-out;
								}

								&:hover,&:active,&:focus{
									svg{
										fill:$red;
									}
								}
							}
						}

						li.user-basket{
							position: relative;
							margin-left: 15px;
							a.nav-link{
								cursor: pointer;	
								background: #fff;
								color: $pl_holder;
								margin: 0px;
								padding: 0px;
		    					display: inline-block;
		    					vertical-align: middle;
								
								span.icon{
									position: relative;
									width: 30px;
									height: 30px;
									margin: 0px;
									padding: 0px;
									display: inline-block;
			    					vertical-align: middle;
									svg{
										width: 20px;
										height: 20px;
										position: absolute;
										margin: auto;
										left: 0;
										top: 0;
										bottom: 0;
										right: 0;
										fill: #e0e0e0;
									}

									span.new-messages{
										position: absolute;
										top: -5px;
										right: -10px;
										background: $red;
										color: #fff;
										text-align: center;
										padding: 4px;
										border-radius: 10em;
										z-index: 10;
										background-clip: padding-box;
									    font-size: 10px;
									    -webkit-font-smoothing: subpixel-antialiased;
									    line-height: 1.3;
									    min-height: 13px;
									    min-width: 20px;
									    &:empty{
									    	display: none;
									    	visibility: hidden;
									    	opacity: 0;
									    }
									}

								}
		    					
								&:hover,&:active{
									span{
										color: $red;
										svg{
											fill:$red;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	div.header-bottom-line {
		transition: all 0.27s ease-in-out;
		background: #fff;
		height: 55px;
		width: 100%;
		z-index: 1;
		position: relative;
		-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06);
		-moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06);
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06);	
	
		div.header-bottom-line-wrapper{
			nav.nav-bar-bottom-line{
				background: #fff !important;
				padding: 0px 10px !important;
				
				ul.navbar-nav{
					width: 100%;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					height: 55px;
					align-items: center;

					li{
						margin-right: 20px;
						&.nav-item-svg{
							a.nav-link{
								padding-left: 0px !important;
								padding-right: 0px !important;
							}
						}

						&:nth-child(1){
							border-right: 1px solid $border;
							padding-right: 30px;
							margin-right: 30px;	
							position: relative;
							a.dropdown-toggle{
								border:none;
								height: 32px;
								padding: 0px 10px;
								color: $black2;
								background: none;
								display: flex;
								flex-direction: row;
								flex-wrap: nowrap;
								align-items: center;

								span{
									line-height: 30px;
									font-size: 14px;
									color: $black2;
								}

								span.all--catgs{
									margin-left: 5px;
								}

								svg{
									fill: #e0e0e0;
									width: 20px;
									height: 20px;
								}

								span.arrow-down{
									margin-left: 20px;
									svg{
										fill: $black2;
										width: 10px;
										height: 10px;
									}
								}

								&:after{
									display: none;
								}

								&:hover,&:focus,&:active{
									span{
										color: $red !important;
									}

									svg{
										fill: $red !important;
										color: $red !important;
									}
								}
							}

							div.dropdown-menu{
								width: 300px;
								height: 300px;
								overflow-y: scroll;
								position: absolute;
								border: none;
								box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);
								background: #fff;
								border-radius: 5px;
								a{
									font-size: 13px;
									color: $black;
									line-height: 25px;
								}
							}
						}

						a.nav-link{
							text-align: left;
							padding: 0px !important;
							span{
								font-weight: 400;
								color: $black;
								font-size: 13px;
								line-height: 20px;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}

	div.mobile-navbar{
		display: none;
		left: -99999999px;
		position: fixed;
		width: 0px;
		height: 0px;
		overflow: hidden;
		z-index: 999999999;
		background: #fff;
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		&.open{
			left: 0 !important;
			top: 0 !important;
			bottom: 0 !important;
			right: 0 !important;
			width: 100vw !important;
			height: 100vh !important;
			display: block !important;
			overflow-x: hidden;
			overflow-y: hidden;

			div.header-block{
				width: 100%;
				overflow: hidden;
				
				div.user-info{
					background: $red;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					padding: 00px 20px;
					border-bottom: 1px solid $red;
					height: 55px;
					align-items: center;

					div.avatar{
						width: 35px;
						height: 35px;
						overflow: hidden;
						border-radius: 10em;
						img{
							width: 100%;
							height: 100%;
						}
					}

					div.uname{
						margin-left: 10px;
						flex: 1;
						line-height: 0px;
						div{	
							line-height: 0px;
							height: 100%;
							width: 100%;
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: space-between;
							align-items: center;

							span.user-name{
								line-height: 14px;
								font-size: 14px;
								color: #fff;
								font-weight: 600;
								opacity: 0.9;
							}

							span.close-navbar{
								margin-left: auto;
								cursor: pointer;
								opacity: 0.9;
								svg{
									width: 25px;
									height: 25px;
									fill: #fff;
								}
							}
						}
					}
				}

				div.logo{
					border-bottom: 1px solid #eee;
					background: #fff;
					ul{
						width: 100%;
						height: 55px;
						padding: 0 20px 0px 20px;
						margin: 0;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;
						list-style-type: none;

						li{

							&.logo{
								a{
									img,svg{
										width: 30px;
										height: 30px;
										object-fit: cover;
									}
								}
							}
							a{
								cursor: pointer;	
								background: #fff;
								color: $pl_holder;
								margin: 0px;
								padding: 0px;
		    					display: inline-block;
		    					vertical-align: middle;
								
								span.icon{
									position: relative;
									width: 30px;
									height: 30px;
									margin: 0px;
									padding: 0px;
									display: inline-block;
			    					vertical-align: middle;
									svg{
										width: 20px;
										height: 20px;
										position: absolute;
										margin: auto;
										left: 0;
										top: 0;
										bottom: 0;
										right: 0;
										fill: #e0e0e0;
									}

									span.new-messages{
										position: absolute;
										top: -5px;
										right: -10px;
										background: $red;
										color: #fff;
										text-align: center;
										padding: 4px;
										border-radius: 10em;
										z-index: 10;
										background-clip: padding-box;
									    font-size: 10px;
									    -webkit-font-smoothing: subpixel-antialiased;
									    line-height: 1.3;
									    min-height: 13px;
									    min-width: 20px;
									    &:empty{
									    	display: none;
									    	visibility: hidden;
									    	opacity: 0;
									    }
									}

								}
		    					
								&:hover,&:active{
									span{
										color: $red;
										svg{
											fill:$red;
										}
									}
								}
							}
						}
					}

				}
			}

			ul.v-nav-bar{
				padding: 5px 0px 50px 0;
				margin: 0;
				list-style-type: none;
				height: calc(100vh - 65px);
				overflow-x: hidden;
				overflow-y: scroll;

				li.v-nav-bar-li{
					width: 100%;
					padding: 0;
					margin: 0;
					line-height: 0;

					&.help-faq{
						border-bottom: 1px solid #eee;
					}

					div.v-nav-bar-li-inner{
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;
						padding: 0px 20px;
						margin: 0px;
						height: 45px;
						span.icon{
							line-height: 0;
							svg{
								width: 20px;
								height: 20px;
								fill: #747474; 
							}
						}

						a{
							font-size: 14px;
							padding: 0;
							text-decoration: none;
							margin-left: 15px;
							color: #333;

							&:active,&:hover,&:focus{
								background: #fff;
								color: $red;
							}
						}
					}

					&.catalog-nav{
						div.v-nav-bar-li-inner{
							border-top: 1px solid #eee;
							border-bottom: 1px solid #eee;
							padding: 25px 20px;
							cursor: pointer;
							
						}

						&.open{
							div.catalog-navlist{
								display: block !important;
								border-bottom: 1px solid #eee;
								padding-bottom: 10px !important;
							}

							div.v-nav-bar-li-inner{
								border-bottom: none;
							}
						}

						div.catalog-navlist{
							width: 100% !important;
							overflow: hidden;
							display: none;
							ul{
								list-style-type: none;
								width: 100%;
								overflow: hidden;
								margin: 0;
								padding: 0 0 0 62px;

								li{
									a{
										font-size: 13px;
										color: #616161;
										line-height: 30px;

										&:hover,&:active{
											color: $red;
										}
									}
								}
							}
						}
					}

					&.footer-nav-block{
						width: 100%;
						div.footer-sm{
							div.top-line{
								ul{
									padding: 20px;
									margin: 0px;
									list-style-type: none;
									display: flex;
									flex-direction: row;
									flex-wrap: wrap;
									li{
										margin-right: 10px;
										a{
											font-size: 12px;
											line-height: 20px;
											color: #999;
										}
									}
								}
							}
							div.bottom-line{
								border-top: 1px solid #eee;
								ul{
									padding: 20px;
									margin: 0px;
									list-style-type: none;
									li{
										a{
											font-size: 12px;
											line-height: 12px;
											color: #999;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

footer.footer-fluid{
	width: 100%;
	overflow: hidden;
	background: #fff;
	.top-line{
		width: 100%;
		overflow: hidden;
		border-bottom: 1px solid #eee;

		ul{
			width: 100%;
			overflow: hidden;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			list-style-type: none;
			padding: 15px 0px;
			margin: 0;
			line-height: 0px !important;	
			li{
				line-height: 0px !important;
				padding: 0px !important;
				a{
					line-height: 22px;
					color: #9697a1;
					text-decoration: none;
					margin-right: 20px;
					font-size: 13px;
					transition: color 0.27s ease-in-out;

					&:hover,&:active{
						color: $red;
					}
				}

				&.copyright{
					a{
						margin: 0;
					}
				}
			}
		}
	}
}

div.main-container{
	width: 100%;
	background: #f2f2f2;
	overflow: hidden;
	padding-top: 10px;

	&.main-cont-page-profile{
		padding-top: 0px !important;
	}
}

div.announcements-container{
	width: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99999;
	a{
		display: block;
		line-height: 0px;
		padding: 0;
		margin: 0;
		text-decoration: none;
	}

	div.announcements-list-cont{
		width: 100%;
		overflow: hidden;

		div.announcement{
			width: 100%;
			overflow: hidden;
			display: flex;
			flex-direction: row;
			padding: 20px 45px;
			div.got-it{
				margin-left: auto;
				align-self: center;
				cursor: pointer;
				button{
					font-size: 11px;
					border: 1px solid #fff;
					border-radius: 5px;
					padding: 3px 10px;
					box-shadow: none;
					background: transparent;
					color: #fff;
					outline: 0;

					&:hover,&:active,&:focus{
						outline: 0;
						box-shadow: none;
					}
				}
			}

			div.icon{
				width: 40px;
				height: 40px;
				align-self: center;

				svg{
					width: 100%;
					height: 100%;
					fill: #fff;
				}
			}

			div.message{
				flex: 1;
				overflow: hidden;
				padding-left: 20px;
				margin-left: 20px;
				border-left: 1px solid #eeeeeea3;
				padding-right: 15px;

				a,b,span{
					display: inline !important;
				}

				a:not(.wrap-link){
					color: #fff !important;
					text-decoration: underline;
					margin-left: 5px;
					margin-right: 5px;
				}
				h6{
					font-size: 14px;
					font-weight: 700;
					color: #fff;
					padding: 0;
					margin: 0;
					line-height: 22px;
				}

				p{
					font-size: 12px;
					padding: 0;
					margin: 0;
					line-height: 18px;
					color: #fff;
				}
			}

			&.announc-success{
				background: $green;
			}

			&.announc-info{
				background: $main;
			}

			&.announc-error{
				background: $red;
			}

			&.announc-warning{
				background: #ff9600;
			}
		}
	}
}

div.scrollpage2-top{
	position: fixed;
	display: none;
	bottom: 40px;
	right: 40px;
	transition: all 1s ease-in-out;

	button{
		border: 1px solid $red;
		background: $red;
		width: 35px;
		height: 35px;
		border-radius: 10em;
		line-height: 0px;
		outline: 0;
		box-shadow: $btn_shadow;

		svg{
			fill: #fff;
			width: 100%;
			height: 100%;
		}
	}
}

div.content-container{
	display: block;
	width: 100%;
	padding: 0px 40px;
	max-width: 1375px !important;
	margin-left: auto;
	margin-right: auto;
}

body.strained{
	position: relative;
	&:after{
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.3);
		content: "";
		z-index: 1100;
	}
}

a.block-anchor{
	display: block;
	width: 100%;
	left: 0;
	padding: 0;
	margin: 0;
	color: inherit;
	text-decoration: none;
}

div.prods-items-container{
	div.galcolumn{
		padding-right: 7px !important;
		padding-left: 7px !important;
		margin: 0px !important;
	}
	
	div.prod-item{
		overflow: hidden;
		margin-bottom: 15px !important;
		cursor: pointer;
		box-shadow: none;
		border-radius: 5px;

		.prod-img{
			width: 100%;
			overflow: hidden;
			position: relative;
			height: auto;
			background: #fff;
			img{
				width: 100% !important;
				height: 100% !important;
				object-fit: cover !important;
			}

			span.discount{
				position: absolute;
				left: 15px;
				bottom: 15px;
				line-height: 18px;
				font-size: 10px;
				color: #fff;
				background: $green;
				border-radius: 4px;
				padding: 0px 5px;
				vertical-align: top;
				float: right;
				box-shadow:$btn_shadow;
			}

			span.total-sales{
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
				background-color: #192a3294;
				line-height: 0px;
				padding: 0px 10px;
				border-bottom-left-radius: 5px;
				span.inline-label{
					display: inline-block;
					font-size: inherit;
					color: inherit;
					line-height: inherit;
					width: 0px;
					overflow: hidden;
					text-overflow: clip;
					display: none;
					font-size: 12px;
					line-height: 22px;
					color: rgb(248, 250, 251);
				}

				span.num{
					display: inline-block;
					font-size: inherit;
					color: inherit;
					line-height: inherit;
					vertical-align: top;
					font-size: 12px;
					line-height: 22px;
					color: rgb(248, 250, 251);
				}
			}

			&:hover{
				span.total-sales span.inline-label{
					width: auto;
					display: inline-block;
					overflow: auto;
				}
			}
		}

		.prod-desc{
			width: 100%;
			background: #fff;
			overflow: hidden;
			padding: 10px 15px;

			div.body{
				line-height: 0px;
				div.prod-name{
					width: 100%;
					overflow: hidden;
					h6{
						padding: 0px;
						margin: 0 0 5px 0;
						line-height: 14px;
						font-size: 13px;
						max-height: 15px;
						overflow: hidden;
					}
				}

				div.prices{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					overflow: hidden;
					line-height: 0px;
					align-items: center;
					span.price{
						font-size: 17px;
						font-weight: 500;
						color: #333;
						line-height: 21px;
					}
					span.old-price{
						font-size: 17px;
						font-weight: normal;
						color: #ababab;
						line-height: 21px;
						margin-left: 10px;
						text-decoration: line-through;
					}

					span.currency{
						display: inline-block;
						line-height: 18px;
						margin-left: 5px;
						svg{
							width:13px;
							height: 13px;
							vertical-align: top;
							color:#72777b;
						}
					}

					span.star-icon{
						svg{
							width: 15px;
							height: 15px;
							fill: #9597a0;;
						}
					}

					span.rating-num{
						font-size: 13px;
						line-height: 14px;
						color: $black2;
					}
				}
			}
		}

		a{
			display: block;
			width: 100%;
			overflow: hidden;
			text-decoration: none;
			color: inherit;
			line-height: 0px;
		}

		&.ghost{
			overflow: hidden;
			margin: 0;
			margin-bottom: 15px !important;
			cursor: pointer;
			box-shadow: none;
			border-radius: 5px;
			background: #fff;

			.prod-img{
				background: #fff;
			}

			.prod-desc{
				width: 100%;
				background: #fff;
				overflow: hidden;
				padding: 10px 15px;
				div.body{
					line-height: 0px;
					div.prod-name{
						width: 100%;
						overflow: hidden;
						h6{
							padding: 0px;
							margin: 0 0 5px 0;
							line-height: 16px;
							font-size: 13px;
							max-height: 15px;
							overflow: hidden;
							background: #e0e0e0;
							color: #e0e0e0;
							border-radius: 2px;
						}
					}

					div.prices{
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						overflow: hidden;
						line-height: 0px;
						align-items: center;
						margin-top: 4px;
						span{
							font-size: 17px;
							color: #e0e0e0;
							line-height: 17px;
							margin-right: 10px;
							background: #e0e0e0;
							border-radius: 2px;
						}
					}
				}
			}
		}
	}
}

nav.breadcrumbs-cust{
	margin: 0px !important;
	ol{
		background: transparent !important;
		margin-bottom: 0px;
		padding: 0 0 10px 0 !important;
		li{
			font-size: 13px;
			color: #9697a1;
			opacity: 0.9;

			&.active{
				color: #9697a1 !important;
				opacity: 1;
			}

			a{
				font-size: 13px;
				color: #9697a1;
				opacity: 1;
			}
		}
	}
}

div.empty-page-wrapper{
	width: 100%;
	height: calc(100vh - 200px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background: transparent;
	margin-bottom: 25px;
	padding: 20px 0px;

	div.icon{
		width: 30px;
		height: 30px;
		overflow: hidden;
		svg{
			width: 100%;
			height: 100%;
			fill: $red;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	h5{
		font-size: 22px;
		line-height: 35px;
		color: $black;
		padding: 0;
		margin: 0;
		font-weight: 600;
	}

	p{
		padding: 0;
		margin: 0 0 20px 0;
		font-size: 14px;
		line-height: 16px;
		color: $black2;
	}

	button{
		border: 1px solid $red;
		outline: 0;			
		padding: 12px 25px;
		box-shadow: none;
		background: $red;
		color: #fff;
		font-size: 16px;
		line-height: 16px;
		text-decoration: none;
		&:active,&:hover,&:focus{
			background: $red;
			border-color:$red;
			outline: 0;
			box-shadow:none;
			color: #fff;
		}
	}
}

body.ov-hide{
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

a.fluid-block{
	width: 100% !important;
	display: block !important;
}

small.error-message{
	font-size: 13px;
	line-height: 20px;
	color: $red;
	&.dblock{
		display: block;
		width: 100%;
	}
}

small.success-message{
	font-size: 13px;
	line-height: 20px;
	color: $green;
	&.dblock{
		display: block;
		width: 100%;
	}
}

div.data-preloader{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	div.loading{
		flex-basis: auto;
		text-align: center;
		.lds-ellipsis {
			display: inline-block;
			position: relative;
			line-height: 14px;
			width: 62px;
			height: 14px;
		}

		.lds-ellipsis div {
			position: absolute;
			top: calc(50% - 6px);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: $red;
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}

		.lds-ellipsis div:nth-child(1) {
			left: 6px;
			animation: lds-ellipsis1 0.6s infinite;
		}

		.lds-ellipsis div:nth-child(2) {
			left: 6px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		.lds-ellipsis div:nth-child(3) {
			left: 26px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		.lds-ellipsis div:nth-child(4) {
			left: 45px;
			animation: lds-ellipsis3 0.6s infinite;
		}

		@keyframes lds-ellipsis1 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}

		@keyframes lds-ellipsis3 {
			0% {
				transform: scale(1);
			}
			100% {
				transform: scale(0);
			}
		}

		@keyframes lds-ellipsis2 {
			0% {
				transform: translate(0, 0);
			}
			100% {
				transform: translate(19px, 0);
			}
		}

	}
}

div.button-preloader{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	line-height: 0px;
	vertical-align: middle;
	div.loading{
		flex-basis: auto;
		text-align: center;
		.lds-ellipsis {
			display: inline-block;
			position: relative;
			line-height: 14px;
			width: 62px;
			height: 14px;
		}

		.lds-ellipsis div {
			position: absolute;
			top: calc(50% - 6px);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: $red;
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}

		.lds-ellipsis div:nth-child(1) {
			left: 6px;
			animation: lds-ellipsis1 0.6s infinite;
		}

		.lds-ellipsis div:nth-child(2) {
			left: 6px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		.lds-ellipsis div:nth-child(3) {
			left: 26px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		.lds-ellipsis div:nth-child(4) {
			left: 45px;
			animation: lds-ellipsis3 0.6s infinite;
		}

		@keyframes lds-ellipsis1 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}

		@keyframes lds-ellipsis3 {
			0% {
				transform: scale(1);
			}
			100% {
				transform: scale(0);
			}
		}

		@keyframes lds-ellipsis2 {
			0% {
				transform: translate(0, 0);
			}
			100% {
				transform: translate(19px, 0);
			}
		}

	}
}

.btn-cancel{
	cursor: pointer;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	border-radius: 0px;
	background: #9d9d9d;
	border-color: #9d9d9d !important;
	outline: 0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;


	&:hover{
		background-color: #b0b0b0 !important;
		border-color: #b0b0b0 !important;
		color: #fff;
	}

	&:active{
		background-color: #b0b0b0 !important;
		border-color: #b0b0b0 !important;
		outline: 0 !important;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
		color: #fff;
	}	

	&:focus{
		background-color: #b0b0b0 !important;
		border-color: #b0b0b0 !important;
		outline: 0 !important;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
		color: #fff;
	}
}

.bs-def-alerts{
	border-radius: 0px;

	&.alert-success{
		border-color: $green;
		background: $green;
		color: #fff;
	}

	&.alert-danger{
		background: $red2;
		border-color: $red2;
		color: #fff;
	}

	&.alert-info{
		background: $main;
		border-color: $main;
		color: #fff;
	}

	&.alert-warning{
		background: #ff9608;
		border-color: #ff9608;
		color: #fff;
	}
}

.col-red *{
	color: $red !important;
}

.ged180,.deg180{
	transform: rotate(180deg);
}

.no-padding-left{
	padding-left: 0px !important;
}

.no-padding-right{
	padding-right: 0px !important;
}

.no-padding-both{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.hidden{
	display: none;
	visibility: hidden;
}

.flex-cr{
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
	flex-wrap: wrap;
	height: 100%;
}

.flex-cc{
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	height: 100%;
}

.animated {
   -webkit-animation-duration: 0.1s;
   animation-duration: 0.1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

.btn-submit{
	cursor: pointer;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	border-radius: 0px;
	background: #1fb4ef;
	border-color: #1fb4ef !important;
	outline: 0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;


	&:hover{
		background-color: #46c2f3 !important;
		color: #fff;
	}

	&:active{
		background-color: #46c2f3 !important;
		border-color: #46c2f3 !important;
		outline: 0 !important;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
		color: #fff;
	}	

	&:focus{
		background-color: #46c2f3 !important;
		border-color: #46c2f3 !important;
		outline: 0 !important;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
		color: #fff;
	}
}

.confirm-action-modal{
	&.show{
		display: flex !important;
		flex-direction: column !important;
		flex-wrap: wrap !important;
		align-items: center !important;
		justify-content: center !important;
	}

	.modal-dialog{
		.modal-content{
			border: none;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
			border-radius: 3px;

			.modal-header{
				border: none;
   				padding: 25px 25px 5px 25px;
				.modal-title{
					font-weight: 500;
    				font-size: 16px;
    				color: $black2;
    				line-height: 23px;
				}
			}

			.modal-body{
				color: #777;
    			padding: 15px 25px 5px 25px;
    			font-size: 13px;
    			line-height: 20px;
			}

			.modal-footer {
				border: none;
				button{
					padding: 5px 12px;
					line-height: 19px;
					font-size: 13px;
					border-radius: 2px;
					font-weight: 300;

					&.btn-submit{
						background: $red;
						border-color:$red !important;
						&:hover,&:active,&:focus{
							background: $red2 !important;
						}
					}
				}
			}
		}
	}
}

div.modal.show.vh-center{
	display: flex !important;
	flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}