<?php
print_r($hs['list_users']);
?>

<form name="searchfrm" action="" method="post">
<div id="locationField">
	<input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
	<input type="hidden" name="lat" id="searchlat" value="">
	<input type="hidden" name="lng" id="searchlng" value="">
	<input type="submit" name="submitbtn" value="Search">
</div>
</form>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQbnAlzWYF519fnSf8Ouqjcg7sqTbEu9M&libraries=places&callback=initAutocomplete" async defer></script>
	<script>
		var placeSearch, autocomplete;

		function initAutocomplete() {
			autocomplete = new google.maps.places.Autocomplete(
				(document.getElementById('autocomplete')), {
					types: ['geocode']
				});
			autocomplete.addListener('place_changed', fillInAddress);
		}

		function fillInAddress() {
			var place = autocomplete.getPlace();
			document.getElementById('searchlat').value = place.geometry.location.lat();
			document.getElementById('searchlng').value = place.geometry.location.lng();
		}

		function geolocate() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var geolocation = {
						lat: position.coords.latitude,
						lng: position.coords.longitude
					};
					var circle = new google.maps.Circle({
						center: geolocation,
						radius: position.coords.accuracy
					});
					autocomplete.setBounds(circle.getBounds());
				});
			}
		}
	</script>
